<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/createItem" method="POST">
      <fieldset>
        <legend>Create item</legend>
        <label for="jewel">Name of the item : </label>
        <input type="text" name="jewel" id="jewel" required />
        <label for="category">Category of the item : </label>
        <select name="category_id" id="category">
          <% categories.forEach(category => { %>
            <option value="<%= category.id %>">
              <%= category.category %>
            </option>
          <% }) %>
        </select>        
        <label for="quantity">Quantity of the item : </label>
        <input type="text" name="quantity" id="quantity" required />
        <label for="price">Price of the item : </label>
        <input type="text" name="price" id="price" required />
        <button type="submit">Add</button>
      </fieldset>
    </form>
    <a href="/items"><button>Return</button></a>
  </body>
</html>
