<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/createCategory" method="POST">
      <fieldset>
        <legend>Create category</legend>
        <label for="category">Name of the new category : </label>
        <input type="text" name="category" id="category" required />
        <button type="submit">Add</button>
      </fieldset>
    </form>
  </body>
</html>
