<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Jewelry shop</h1>
    <a href="./categories"><button>Categories</button></a>
    <a href="./items"><button>Items</button></a>
  </body>
</html>
