<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="POST">
      <label for="category">New category name : </label>
      <input type="text" name="category" id="category" required />
      <button type="submit">Edit</button>
      <a href="/categories"><button>Return</button></a>
    </form>
  </body>
</html>
